.app {
  text-align: center;
}

html {
  background-color: aliceblue;
}

#country-header-wrapper {
  width: 100%;
  display: flex;
}

.name-flag-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 20%;
  width: 20%;
}

#countries {
  width: 100%;
  font-size: 1.5em;
  text-align: left;
}

#countries tr:nth-child(even){
  background-color: lightgrey;
}

#countries td {
  border: 0.25vw solid #ddd;
  padding: 0.25vw;
}