:root {
  --light-blue: rgb(223, 241, 247);
  --blue: rgb(158, 189, 230);
  --dark-blue: rgb(84, 157, 199);
  --font-color: rgb(26, 49, 75);
}

.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#search-wrapper {
  color: var(--font-color);
  text-align: center;
  margin: 1em auto;
  font-size: 1.25rem;
  padding: 1em;
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  width: 70vw;
}

#country-header-wrapper {
  width: 100%;
  display: flex;
}

.name-flag-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 6rem;
  width: 9rem;
}

.country-name-input {
  height: 2rem;
  padding-left: 0.5rem;
  border-radius: 2px;
  margin: 0 0.5em 0 0.5em;
}

.country-name-input:focus {
  outline: none;
  box-sizing: border-box;
}

#input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compare-btn {
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--dark-blue);
  height: 2rem;
  width: 8rem;
  margin: 0.5em;
  border: none;
}

.unclickable {
  color: white;
  border-radius: 5px;
  background-color: lightgrey;
  height: 2rem;
  width: 8rem;
  margin: 0.5em;
  border: none;
}

#country-data-table,
#comparison-table {
  color: var(--font-color);
  border-collapse: collapse;
  border: 0.01vw solid var(--dark-blue);
  background-color: var(--light-blue);
  margin: 1vw auto;
  width: 95vw;
  font-size: 1.5em;
  text-align: left;
}

#comparison-table tbody tr {
  text-align: center;
  border: 0.01vw solid var(--dark-blue);
}

#country-data-table td {
  border: 0.01vw solid var(--dark-blue);
  padding: 0.5vw 1vw;
}

#country-data-table tr:first-child {
  font-weight: 500;
  max-width: 25vw;
}

.country-names {
  border: 1px solid var(--dark-blue);
  position: absolute;
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  overflow: auto;
  padding-inline-start: 0px;
}

.country-names > li {
  text-align: left;

  width: 15rem;
  z-index: 3;
}

tr > td:first-child {
  font-weight: 500;
  width: 20%;
}

tr > td:nth-child(2n),
tr > td:nth-child(3n) {
  width: 40%;
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 0.4em;
  }

  #search-wrapper {
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .country-name-input {
    width: 10vw;
    font-size: 1em;
  }

  .compare-btn,
  .unclickable {
    font-size: 1em;
    height: 3em;
    width: 25%;
  }

  #country-data-table {
    color: var(--font-color);
    border-collapse: collapse;
    border: 0.01vw solid var(--dark-blue);
    background-color: var(--light-blue);
    width: 95vw;
    margin: 10px auto;
    font-size: 1.5em;
    text-align: left;
  }
}

@media only screen and (max-width: 420px) {
  #search-wrapper {
    width: 90%;
  }
}
